$orange-bg-color: var(--orange-bg-color);
$black-color: var(--black-color);
$gray-color: var(--gray-color);
$light-gray-bg-color: var(--light-gray-bg-color);

$white-color: var(--white-color);

$btn-disabled-bg-color: var(--btn-disabled-bg-color);
$slider-bg-bar-color: var(--slider-bg-bar-color);